includes:
    - vendor/symplify/phpstan-rules/config/symplify-rules.neon

parameters:
    level: max

    checkGenericClassInNonGenericObjectType: false

    paths:
        - config
        - src
        - tests

    excludePaths:
        - */Source/*
        - *Source/*

    ignoreErrors:
        # false positive
        - '#Method "findVariableAssignName\(\)" only calling another method call and has no added value\. Use the inlined call instead#'

        - '#PhpParser\\Node\\Arg\|PhpParser\\Node\\VariadicPlaceholder\:\:\$value#'

        # rector co-variant
        - '#Parameter \#1 \$node \(PhpParser\\Node\\(.*?) of method Rector\\(.*?)\(\) should be contravariant with parameter \$node \(PhpParser\\Node\) of method Rector\\Core\\Contract\\Rector\\PhpRectorInterface\:\:refactor\(\)#'

        - '#Add explicit array type to assigned "\$node\->args" expression#'
