includes:
    - vendor/symplify/phpstan-rules/config/symplify-rules.neon

parameters:
    level: max

    checkGenericClassInNonGenericObjectType: false

    paths:
        - config
        - src
        - tests

    excludePaths:
        - */Source/*
        - *Source/*

    ignoreErrors:
        # false positive
        - '#Method "findVariableAssignName\(\)" only calling another method call and has no added value\. Use the inlined call instead#'

        - '#PhpParser\\Node\\Arg\|PhpParser\\Node\\VariadicPlaceholder\:\:\$value#'
